body {
    background:  #a6acaf; 
    font-family: arial;
    color: #000;
    text-transform: uppercase;
}

.header {
    padding: 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #ebedef;
    border-radius: 15px 15px 0 0;
    border-bottom: solid 2px #444;
}

.header h2 {
    flex-grow: 1;
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: normal;
}

.contact-list {
    background:  #d6dbdf;
	width: 700px;
	margin: 70px auto;
	box-shadow: 10px 10px 5px #333;
	border-radius: 15px;
}

.h-stats {
    margin-top: 0;
    font-weight: normal;
}

.h-stats td:first-child {
    text-align: right;
    font-weight: normal;
    letter-spacing: 2px;
    color: #666;
    font-size: .7em;
}

.h-stats td:last-child {
    text-align: left;
}

.header .h-stats {
    width: 200px;
}

.contact {
    display: flex;
    font-size: 1.2em;
    border-top: solid 2px #444;
    letter-spacing: 2px;
}

.contact-phone {
    width: 190px;
    padding: 20px 10px 10px 10px;
}

.contact-name {
	flex-grow: 1;
    padding: 20px 10px 10px 10px;
}

.contact-name:hover .remove-contact {
    visibility: visible;
}

.remove-contact {
    visibility: hidden;
    margin-right: 10px;
    color:  #c0392b;
    cursor: pointer;
}

.group-icon {
	width: 3em !important;
	height: 3em !important;
}